APP_NAME=Dev-Demo-Bot
APP_ENV=local
APP_KEY=
APP_DEBUG=true
# callback url
APP_URL=
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_DATABASE=database
DB_USERNAME=username
DB_PASSWORD=password
DB_HOST=db

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

PHP_BINARY=php
# original forwarder bot
TELEGRAM_BOT_TOKEN=7893508967:AAFgBDXar7VOlYlorvl2D0eHk3Eh5zwqzrk
PROXY_HOST=localhost:8083
PROXY_PATH=http://localhost:8083/update
# @emoneyabc
ADMIN_CHAT_ID=443585076
# @wertyzp
DEV_CHAT_ID=410378695
# not required
DEPLOY_HOST=
TELEGRAM_DEBUG=false

# reddit config to get analytics
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USERNAME=
REDDIT_PASSWORD=
REDDIT_USER_AGENT="linux:com.wertyzp.forwarder-bot:v1.0.0"

# google drive config to put reports
# base64 encoded json credential file
GOOGLE_AUTH_CONFIG=
# folder id
GOOGLE_DRIVE_FOLDER_ID=
